# Ignore Symfony cache and dependencies
symfony/var/
symfony/vendor/

# Ignore Next js
node_modules
npm-debug.log
.next

# Ignore environment files
symfony/.env.local
.env
.env.*

# Ignore OS and IDE files
.DS_Store
.idea/
.vscode/

# Ignore Git and log files
.git
.gitignore
*.log

# Ignore Docker configuration
docker/

README.md
.swc

# Ignore SonarScanner
.scannerwork