# symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/.env.test
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# phpunit/phpunit
/phpunit.xml
.phpunit.result.cache

# symfony/asset-mapper
/public/assets/
/assets/vendor/

# Symfony
symfony/var/
symfony/.env.test
symfony/.env.local
symfony/.env.*.local
symfony/config/jwt/private.pem
symfony/config/jwt/public.pem

# Node/Next.js
nextjs/node_modules/
nextjs/.next/

# PostgreSQL
pgdata/ 

